img.logo{
    max-width: none;
    width: 300px !important;
}
#index .change-style .header-bottom{
     background: white !important;
 }
.change-style .header-bottom .jms-megamenu .nav > li > a{
    color: black !important;
}

.change-style .header-bottom .ic-search, .change-style .header-bottom .user-info > a .text{
    color: black !important;
}
.change-style .header-bottom #cart_block a.cart-icon img{
    filter: none !important;
}
.home-popular-products{
    background-size: cover;
}
.featured-products h3{
    color: white;
    font-weight: bold;
}
#index .header-bottom{
    background: rgba(17, 17, 17, 0.8) none repeat scroll 0 0 !important;
}
.jms-megamenu .mega-nav li > a {
    text-transform: none !important;
}
#nav-sidebar {
    direction: rtl;
}

#nav-sidebar ul.menu {
    direction:ltr;
}