img.logo{
    max-width: none;
    width: 300px !important;
}
#index .change-style .header-bottom, .change-style .header-bottom{
     background: white !important;
 }
.change-style .header-bottom .jms-megamenu .nav > li > a{
    color: black !important;
}

.change-style .header-bottom .ic-search, .change-style .header-bottom .user-info > a .text{
    color: black !important;
}
.change-style .header-bottom #cart_block a.cart-icon img{
    filter: none !important;
}
.home-popular-products{
    background-size: cover;
}
.featured-products h3{
    color: white;
    font-weight: bold;
}
#index .header-bottom{
    background: rgba(17, 17, 17, 0.8) none repeat scroll 0 0 !important;
}
.jms-megamenu .mega-nav li > a {
    text-transform: none !important;
}

.product-line-grid .product-line-actions {
    margin-top: 70px;
}
@media (max-width: 480px) {
    .product-line-grid .product-line-actions {
        margin-top: 15px;
    }
}

@media (min-width:576px){.hidden-sm-up{display:none!important}}@media (max-width:767px){.hidden-sm-down{display:none!important}}@media (min-width:768px){.hidden-md-up{display:none!important}}@media (max-width:991px){.hidden-md-down{display:none!important}}@media (min-width:992px){.hidden-lg-up{display:none!important}}@media (max-width:1199px){.hidden-lg-down{display:none!important}}@media (min-width:1200px){.hidden-xl-up{display:none!important}}.hidden-xl-down,.visible-print-block{display:none!important}

.footer-container .links .collapse {
    display: inherit !important;
    visibility: inherit !important;
}
.footer-container {
    margin-top: 1.25rem;
    padding-top: 1.25rem;
    overflow: hidden;
    box-shadow: 2px 2px 11px 0 rgba(0,0,0,.3);
}
#footer .addon-title{
    margin-top: 30px;
}
.home-categories-images{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    max-width: 100%;
}
.home-category-name{
    text-align: center; text-transform: uppercase; padding: 10px; font-weight: bold;
}
.mb-20{
    margin-bottom: 20px;
}
.propular-carousel .owl-stage{
    margin: auto;
}