#jms_ajax_search {
    height: 40px;
    overflow: visible;
    position: relative;
    width: 250px;
    z-index: 1000;
    margin-left:20px;
    width:100%;
    float:left;
}
#ajax_search {
    border: 1px solid #eee;
    border-radius: 48px 0 0 48px;
    color: rgba(17,17,17,0.75);
    height: 48px;
    margin: 0;
    padding: 0 25px;
    width: 100%;
    float:left;
}
#ajax_search::-moz-placeholder {
    font-size: 12px;
    color: rgba(17,17,17,0.75);
}
#search_result {
    left: 5%;
    position: absolute;
    top: 100%;
    width: 89%;
    z-index: 1000;
}
#search_result .result_div {
    background: none repeat scroll 0 0 #fff;
    float: left;
    position: relative;
    width: 100%;
    box-shadow:1px 2px 3px rgba(0, 0, 0, 0.2);
    padding: 7px 10px;
    max-height: 550px;
    overflow-y: auto;
}
#search_result .result_div .results{}
#search_result .result_div .item {
    float: left;
    padding: 2%;
    width: 100%;
}
#search_result .result_div .item .left-img {
    background: none repeat scroll 0 0 #eee;
    float: left;
    margin-right: 5%;
    padding: 1%;
    width: 25%;
}
#search_result .result_div .item .left-img img{
    max-width:100%;
}
#search_result .result_div .right-info {
    float: left;
    width: 70%;
}
#search_result .result_div h3.title {
    float: left;
    font-size: 12px;
    font-weight: bold;
    margin: 0 0 5px 0;
    padding: 0;
    text-transform: uppercase;
    width: 100%;
}
#search_result .result_div h3.title a{}
#search_result .result_div .price {
    float: left;
    font-size: 14px;
    width: 100%;
}
#search_result .result_div .price .label {
    color: #777;
    float: left;
    line-height: 22px;
    margin: 0 5px 0 0;
    padding: 0;
}
#search_result .result_div .price .value{}
#search_result .result_div .desc {
    color: #999;
    float: left;
    font-size: 12px;
    line-height: 16px;
    width: 100%;
}
#search_result .result_div .desc p{
    padding:0;
    margin:0;
}
#search_result .result_div .right-info.full{
    width:100%;
}
#selector_cat {
    height: 48px;
    -moz-appearance:none;
    -webkit-appearance:none;
    -ms-appearance:none;
    -o-appearance:none;
    padding: 0 15px 0 20px;
    width:100%;
    min-width: auto;
    color:rgba(17,17,17,0.75);
    font-weight:400;
    font-size: 14px;
    border:1px solid #eee;
    border-left:none;
    border-right:none;
}
.jms-adv-search, #searchbox {
    width:100%;
    display:flex;
}
.jms-adv-search .keyword-group {
    width:59.65%;
    margin: 0;
}
.jms-adv-search .cat-list {
    width: 30.87%;
    position: relative;
}
.jms-adv-search .cat-list:after {
    border-style:solid;
    border-width:5px 5px 0 5px;
    content:"";
    display:block;
    height:0;
    position:absolute;
    right:9%;
    top: calc(50% - 1px);
    width:0;
    border-color: #7f7f7f transparent transparent transparent;
}
.jms-adv-search .input-group-search {
    width: 9.48%;
    padding:0;
    background-color:#fff;
    border:none;
}
.jms-adv-search .input-group-search button {
    width: 100%;
    height:48px;
    color: #fff;
    font-size: 20px;
    display:block;
    border:none;
    border-radius: 0 48% 48% 0;
}
.jms-adv-search .ic-search {
    display:none;
}